<h2>Welcome to Pizza Shop!!</h2>
<br>
</br>

<div class="row">

  <% @products.each do |p| %>
  <div class="col-md-3">

    <div align="center"><%= p.title %></div>

    <div align="center"><img src="<%= p.path_to_image %>" /></div>

    <div align="center"><%= p.description %></div>

    <div align="center">Price: <%= p.price %> RUB</div>

    <div align="center">Size: <%= p.size %> cm</div>

    <div align="center">
      <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Add to card</button>
    </div>

  </div>

  <% end %>

</div>
<br>
</br>

<button onclick="something()" type="submit" class="btn btn-primary">Click me</button>
<button onclick="clear()" type="submit" class="btn btn-primary">Clear</button>
<br>
</br>
